{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
	{{ encore_entry_script_tags('dropdown') }}
	{{ encore_entry_script_tags('mappoolDropdown') }}
{% endblock %}
{% block body %}
	<div class="edit-collection-page">
		<div class="block-contributors-collection">
			<section class="d-flex collection-card">
				<div class="bg-collection" style="background-image: url('https://assets.ppy.sh/beatmaps/847415/covers/cover.jpg')">
					<div class="filter">
						<button type="button" class="d-flex change-cover-btn">
							<span class="change-cover-text">change cover</span>
						</button>
						<form class="d-flex block-input-title">
							<div class="d-flex mx-auto collection-title-form">
								<span class="collection-title ms-3">Collection Title</span>
								<input class="collection-name bg-transparent mx-3" type="text" placeholder="{#{% collection.name %}#}" name="collection name">
							</div>
						</form>
					</div>
				</div>
			</section>
			<section id="target-contributor" class="block-contributors">
				<div class="title-block">
					<span class="section-title">
						Contributors
					</span>
				</div>
				<div class="d-flex toggle-fit-content global-contributors-dropdown">
					<div class="d-flex contributors-global-card">
						<button type="button" class="contributor-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							<div class="d-flex mb-n3 contributor-cover">
								<img class="mx-auto img-arrow" src="{{ asset('build/add-arrow.png') }}" href="#">
							</div>
							<div class="d-flex contributors-data">
								<span class="contributor-add">Add a new contributor</span>
							</div>
						</button>


						<div class="modal global-modal-contributor" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class=" mx-auto modal-content modal-add-contributor">
									<div class="d-flex flex-end justify-content-end">
										<button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
									</div>

									<form class="d-flex block-search-user">
										<div class="d-flex ">
											<input class="search-user bg-transparent" type="text" placeholder="search user">
										</div>
									</form>

									<div class="d-flex search-result-block">
										{% for i in 0..5 %}
											<button type="button" class="select-user bg-transparent border-0">
												<div class="d-flex user-card" style="background-image: url('{{asset('/build/constellation.svg')}}')">

													<img class="contributor-avatar" src="{{ asset('build/default_avatar.png') }}">
													<img class="contributor-flag" src="{{ asset('build/flag.png') }}">

													<div class="d-flex contributors-data">
														<span class="contributor-name">Farrell-Shey974</span>
													</div>
												</div>
											</button>
										{% endfor %}
									</div>
									<span class="text-add">You want to add :</span>
									<div type="button" class="user-selected border-0">name
										<button type="button" class="unselected-btn border-0 bg-transparent">
											<svg width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M1.62426 1.62574C0.195073 3.05493 0.195073 5.37476 1.62426 6.80394C3.05344 8.23313 5.37327 8.23313 6.80245 6.80394C8.23164 5.37476 8.23164 3.05493 6.80245 1.62574C5.37327 0.196562 3.05344 0.196562 1.62426 1.62574ZM4.21325 3.69702L3.17761 2.66138L2.65979 3.1792L3.69543 4.21484L2.65979 5.25048L3.17761 5.7683L4.21325 4.73266L5.24889 5.7683L5.76671 5.25048L4.73107 4.21484L5.76671 3.1792L5.24889 2.66138L4.21325 3.69702ZM2.14197 6.28612C3.28376 7.42792 5.14274 7.42792 6.28453 6.28612C7.42632 5.14433 7.42632 3.28536 6.28453 2.14356C5.14274 1.00177 3.28376 1.00177 2.14197 2.14356C1.00018 3.28536 1.00018 5.14433 2.14197 6.28612Z" fill="#C30000"/>
											</svg>
										</button>
									</div>
									<div class="d-flex flex-end justify-content-end">
										<button type="button" class="add-btn" data-bs-dismiss="modal" aria-label="Confirm">Confirm</button>
									</div>
								</div>
							</div>
						</div>


						{% for i in 0..5 %}
							{% include "/layout/_contributor-card.html.twig" %}
						{% endfor %}
					</div>
				</div>
				<div class="d-lg-none d-flex dropdown-card">
					<button type="button" class="dropdown-button">
						<img id="btn-contributor" class="dropdown" src="{{ asset('build/dropdown-down.svg') }}" alt=""/></button>
				</div>
			</section>
		</div>

		<section class="block-search ">
			<form class="d-lg-flex flex-lg-wrap justify-content-lg-between">
				<div class="tags block-mod">
					<span class="title title-mod">Game Mod</span>
					{% for i in 0..3 %}
						<input type="checkbox" name="{{ i }}" id="{{ i }}"/>
						<label class="tag tag-mod" for="{{ i }}">tag mod
							{{ i }}</label>
					{% endfor %}
				</div>
				<div class="tags block-category">
					<span class="title title-category">Category</span>
					{% for j in 0..3 %}
						<input type="checkbox" name="{{ j }}" id="{{ j }}"/>
						<label class="tag tag-category" for="{{ j }}">catégorie
							{{ j }}</label>
					{% endfor %}
				</div>
				<div class="block-rank">
					<span class="title title-rank">Rank Range</span>
					<div id="slider-rank" class="slider"></div>
				</div>
			</form>
		</section>

		{% include "/layout/_mappool-edit.html.twig" %}
	</div>
{% endblock %}
