{% extends 'base.html.twig' %}
{% block title %}Edit collection
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
	{{ encore_entry_script_tags('dropdown') }}
	{{ encore_entry_script_tags('mappoolDropdown') }}
	{{ encore_entry_script_tags('editCollection') }}
{% endblock %}
{% block body %}

	<!-- FORM DE LA PARTIE POOLSET -->


	<div class="edit-collection-page">

		{{ form_start(form, {'method': 'post', 'attr': {'id': 'poolset', 'autocomplete' : 'off'}}) }}
		<div class="block-contributors-collection">

			<section class="d-flex collection-card">

				{% if poolset_data.thumbnail is defined %}
					{%  set thumbnail = poolset_data.thumbnail[0:] %}
					{% else %}
						{%  set thumbnail = 'default' %}
				{% endif %}

				<div class="bg-collection" style="background-image: url('{{ asset(thumbnail) }}')">
					<div class="filter">
						<button type="button" class="d-flex change-cover-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop-cover">
							<span class="change-cover-text">change cover</span>
						</button>




						{% include "/layout/_modal-cover.html.twig" %}

						<div class = 'd-flex block-input-title'>
							<div class="d-flex mx-auto collection-title-form">
								<span class="collection-title ms-3">Collection Title</span>
								{{ form_row(form.title, {'attr': {'class':'collection-name bg-transparent mx-3'}}) }}
							</div>
						</div>



					</div>
				</div>
			</section>

		</div>

		<section class="block-search ">
			<div class="d-lg-flex flex-lg-wrap justify-content-lg-between">
				<div class="tags block-mod">
					<span class="title title-mod">Game Mod</span>
					{% set mods = ['std', 'taiko','ctb','mania'] %}
					{% for child in form.children %}
						{% if (child.vars.name in mods) %}
							{{ form_widget(child) }}
							{{ form_label(child, child.vars.name, {'label_attr': {'class': 'tag tag-mod'}} ) }}
						{% endif %}
					{% endfor %}
				</div>
				<div class="tags block-category">
					<span class="title title-category">Category</span>
					{% set categories = ['tournament', 'fun','training','challenge', 'pp_farm'] %}
					{% for child in form.children %}
						{% if (child.vars.name in categories) %}
							{{ form_widget(child) }}
							{% if child.vars.name == 'pp_farm' %}
								{% set foo = 'PP farm' %}
							{% else %}
								{% set foo = child.vars.name | capitalize %}
							{% endif %}
							{{ form_label(child, foo  , {'label_attr': {'class': 'tag tag-category'}} ) }}
						{% endif %}
					{% endfor %}
				</div>
				<div class="block-rank">
					{{ form_row(form.rank_min) }}
					{{ form_row(form.rank_max) }}
					<span class="title title-rank">Rank Range</span>
					<div id="slider-rank" class="slider"></div>
				</div>
			</div>

		</section>

		{{ form_end(form) }}

	</div>
	<!-- FORMS DE LA PARTIE MAPPOOLS & MAPS -->






	{% include "/layout/_mappool-edit.html.twig" %}

{% endblock %}






