{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
	{{ encore_entry_script_tags('contributorToggle') }}
{% endblock %}
{% block body %}

	<section class="d-flex collection-card">
		<div class="bg-collection" style="background-image: url('https://assets.ppy.sh/beatmaps/847415/covers/cover.jpg')">
			<div class="filter">
				<button type="button" class="d-flex change-cover-btn">
					<span class="change-cover-text">change cover</span>
				</button>
				<form>
					<div class="d-flex mx-auto collection-title-form">
						<span class="collection-title ms-3">Collection title :</span>
						<input class="collection-name mx-3" type="text" placeholder="{#{% collection.name %}#}" name="collection name">
					</div>
				</form>
			</div>
		</div>
	</section>

	<section class="block-contributors">
		<div class="title-block">
			<span class="section-title">
				Contributors
			</span>
		</div>
		<div id="contributors" class="d-flex global-contributors-dropdown">
			<div class="d-flex contributors-global-card">
				<button type="button" class="contributor-card">
					<div class="d-flex mb-n3 contributor-cover">
						<img class="mx-auto img-arrow" src="{{ asset('build/add-arrow.png') }}" href="#">
					</div>
					<div class="d-flex contributors-data">
						<span class="contributor-name">Add a new contributor</span>
					</div>
				</button>
				{% for i in 0..5 %}
					{% include "/layout/_contributor-card.html.twig" %}
				{% endfor %}
			</div>
		</div>
		<div class="d-lg-none d-flex dropdown-card">
			<button id="dropdown-contributor" type="button" class="dropdown-button">
				<img id="dropdown" class="dropdown" src="{{ asset('build/dropdown-down.svg') }}" alt=""/></button>
		</div>
	</section>

	<section class="mx-3">
		<form class="search-option me-5 mb-5">
			<div class="tags block-mod">
				<span class="title title-mod">Game Mod</span>
				{% for i in 0..3 %}
					<input type="checkbox" name="{{ i }}" id="{{ i }}"/>
					<label class="tag tag-mod" for="{{ i }}">tag mod
						{{ i }}</label>
				{% endfor %}
			</div>
			<div class="tags block-category">
				<span class="title title-category">Category</span>
				{% for j in 0..3 %}
					<input type="checkbox" name="{{ j }}" id="{{ j }}"/>
					<label class="tag tag-category" for="{{ j }}">catégorie
						{{ j }}</label>
				{% endfor %}
			</div>
			<div class="block-rank">
				<span class="title title-rank">Rank Range</span>
				<div id="slider-rank" class="slider"></div>
			</div>
		</form>
	</section>

{% endblock %}
