{% extends 'base.html.twig' %}

{% block body %}
	<div class="user-body d-lg-flex ">
		<div class="user-contain-1" style="background-image: url('{{ api.cover_url }}')">
			<img class="thumbnail rounded-pill " src=" {{ user.thumbnail}} " alt="">
			<div class="user-name">
				<p class="name">{{ user.name }}</p>
				<img src="{{ "https://osu.ppy.sh/images/flags/"~ api.country.code ~ ".png" }}" class="flag ms-2" alt="">
				<a href="" class="score-btn btn">

					<p>Update
						<br>
						Score</p>
				</a>
			</div>
			<div class="user-stats d-flex">
				<div class=" stats-contain d-flex flex-column ">
					<div class="stat">
						<p>Completed mappools</p>
						<p>0</p>
					</div>
					<div class="stat">
						<p>Followed Mappools</p>
						<p>{{ nbfollow }}</p>
					</div>
				</div>
				<div class=" stats-contain d-flex flex-column ">
					<div class="stat">
						<p>Submited mappool</p>
						<p>{{ nbsubmit }}</p>
					</div>
					<div class="stat">
						<p>Classement générale</p>
						<p>#{{ api.statistics.global_rank }}</p>
					</div>
				</div>
			</div>
			<div class="user-scores d-flex">
				<div>

					<p>3</p>
				</div>
				<div>

					<p>14</p>
				</div>
				<div>

					<p>5</p>
				</div>
				<div>

					<p>119</p>
				</div>
				<div>

					<p>789</p>
				</div>
			</div>
		</div>
		<div class="user-contain-2" id="activity-contain">
			<h2 class="activities-h2">ACTIVITE RECENTE</h2>
			<ul class="activities-list">
				{% for score in recent_activity %}
				<li class="activity d-flex">
					<div class="d-flex justify-content-between align-items-center">
						<p class="activity-text">
							<span>{{ score.accuracy | format_number({fraction_digit: 2},'percent') }}</span>
							{{ score.beatmapset.artist ~ ' - ' ~ score.beatmapset.title ~ ' [' ~ score.beatmap.version ~ ']' }} </p>
					</div>
					<p>
						<span>{{ score.created_at | ago }}</span>
					</p>
				</li>
				{% endfor %}
			</ul>
			<div class="d-flex justify-content-center">
				<a onclick="getElementById('activity-contain').classList.toggle('open')">

				</a>
			</div>
		</div>
	</div>

{% endblock %}
