

{% block block_edit_mappool %}

	<section class="global-edit-mappool" id="target-mappool">

		{% for key, value in _context  %}
			{% if key matches '/^\\d+$/' %}

			<!--<div data-id = 'target-mappool' class="global-edit-mappool" data-pool="{{ key }}"> -->

				{{ form_start(value, {'attr': {'autocomplete' : "off", 'data-id': 'target-mappool', 'class' : "global-edit-mappool", 'data-pool': key, 'onsubmit' : "return false" }}) }}
				<div class="d-flex block-edit-mappool">

				{% block mappool_title %}
					<div class="d-flex block-mappool-title filter" style="background-image: url('{{ asset(thumbnail) }}')">
						<div class="block-btn">
							{{ form_widget(value.delete, { 'attr' : { 'class' : "delete-btn"}}) }}

						</div>
						<div class="d-flex mx-auto global-card-title">
						<span class="mappool-title">
							Mappool title
						</span>

							<div class="d-flex mappool-title-edit">
								{{ form_widget(value.title, { 'attr' : { 'class' : "mappool-input-title"}}) }}
							</div>
						</div>

						<div class="d-flex mx-auto dropdown-block">
							<img id="btn-mappool" data-pool="{{ key }}" class="dropdown" src="{{ asset('build/dropdown-down.svg') }}" alt=""/>
						</div>
					</div>
				{% endblock %}

				{% block dropdown_data %}
					<div class="d-flex block-dropdown-data">

						{% set link_array = [] %}
						{% set mode_array = [] %}
						{% for child in value.children %}
							{% if 'map_link_' in child.vars.name  %}
								{% set link_array = link_array|merge([child.vars.name]) %}
							{% endif %}
							{% if 'map_mode_' in child.vars.name  %}
								{% set mode_array = mode_array|merge([child.vars.name]) %}
							{% endif %}
						{% endfor %}

						{% set pool_id  = value.id.vars.attr.value %}
						{% set pool_maps  = maps[pool_id] %}

						{% for i in 0..mode_array|length - 1 %}

							{% if pool_maps is not empty %}
								<!-- start -->
								<div class="d-flex block-mappool-data" style="background-image: url('{{ pool_maps[i]['cover'] }}'); z-index: 2">
									<div class="d-flex first-line-data">
										<div class="map-link-card">
											<p class="map-link-text">Map link</p>
											<div class="d-flex map-link-edit">
												{{ form_widget(attribute(value, link_array[i]), {'attr': {'class':'map-link', 'value': pool_maps[i]['map'].url}}) }}
												<!--<input class="map-link" type="text" value="https://osu.ppy.sh/beatmapsets/1267439#osu/2633997" placeholder="https://..." onfocus="this.value='https://';"/>-->
											</div>
										</div>
										{{ form_widget(attribute(value, mode_array[i])) }}
										<button class="d-flex delete-btn" value="{{ pool_id ~ '_' ~ pool_maps[i]['map'].id }}" >
											delete
										</button>
									</div>
									<div class="d-flex second-line-data">

										<span class="d-none d-md-flex map-title">{{ pool_maps[i]['name '] }}</span>
										<span class="d-none d-md-flex map-author">mappée par {{ pool_maps[i]['map'].beatmapset.creator }}</span>
									</div>
									<span class="d-none d-md-flex rating">CS: {{ pool_maps[i]['map'].cs}}  AR: {{ pool_maps[i]['map'].ar}} OD: {{ pool_maps[i]['map'].accuracy }} HP: {{ pool_maps[i]['map'].drain }}</span>
								</div>
								<!-- end -->
							{% endif %}


						{% endfor %}
						<div class="d-flex block-mappool-data" style="background-image: url('https://assets.ppy.sh/beatmaps/847415/covers/cover.jpg'); z-index: 1">
							<div class="d-flex first-line-data">
								<div class="map-link-card">
									<p class="map-link-text">Map-link</p>
									<div class="d-flex map-link-edit">
										{{ form_widget(value.addmap, { 'attr' : {'class' : "map-link", 'placeholder' : "https://...", "value" : "" }}) }}
									</div>
								</div>

										<button type='button' class="add-btn">
											add
										</button>

							</div>
						</div>
						</div>

						<!-- uwu -->
					</div>

				{% endblock %}

				{{ form_end(value) }}

			<!--</div>-->
			{% endif %}
		{% endfor %}






		{% block edit_mappool %}
			<!-- PARTIE AJOUTER UN MAPPOOL -->
			{{ form_start(add, {'attr': {'id': 'add'}}) }}
			<div class="d-flex block-edit-mappool">
				<div class="d-flex block-add-mappool-title filter" style="background-image: url('{{asset('/build/constellation.svg')}}')">
					<div class="d-flex m-auto global-card-title">
						<span class="mappool-title">
							Mappool title
						</span>
						<div class="d-flex mappool-title-edit">
							{{ form_widget(add.title, { 'attr': { 'class' : "mappool-input-title", 'placeholder' : "New Mappool"}}) }}
						</div>
					</div>
					<div class="m-auto block-btn">
							{{ form_widget(add.submit, { 'attr': { 'class' : "add-btn", 'label' : "add"}}) }}

					</div>
				</div>
			</div>
			{{ form_end(add) }}
		{% endblock %}


	</section>
{% endblock %}
