{% extends "/component/_svg-global.html.twig" %}


{% block body %}

	<div class=" d-flex section-mappool-data">
		<div class="filter">
			<div class="d-flex global-mappool-data" style="background-image: url('{{"/" ~ mappool['poolset'].thumbnail }}')">
				<div class="d-flex mappool-data">
					<span class="mappool-name invisible-scrollbar"> {{ mappool['pool'].name }}
						<a id="unfollow" class="show no-transition" post="#" data-bs-toggle="collapse" href="#unfollow" role="button" aria-expanded="false" aria-controls="unfollow">
							{{ block("follow") }}</a>
						<a id="unfollow" class="collapse no-transition" post="#" data-bs-toggle="collapse" href="#unfollow" role="button" aria-expanded="false" aria-controls="unfollow">
							{{ block("unfollow") }}</a>
					</span>
					<span class="mappool-collection">From {{ mappool['poolset'].name }}'s Collection'</span>
					<span class="mappool-contributor">& submitted by {{ mappool['contributors'][0].user.name }}</span>
					<span class="mappool-count">{{ mappool['pool'].maps|length}} maps</span>
					<div class="d-flex mappool-tag">

						{% for tag in mappool['tags'] %}
							{% if (tag.type == 'gamemod') %}
								<div class="game-mod-tag">{{ tag.name }}</div>
							{% endif %}
						{% endfor %}

						{% for tag in mappool['tags'] %}
							{% if (tag.type == 'category') %}
								{% if tag.name == 'pp_farm' %}
									{% set foo = 'PP farm' %}
								{% else %}
									{% set foo = tag.name | capitalize %}
								{% endif %}
								<div class="category-tag">{{ foo }}</div>
							{% endif %}
						{% endfor %}
						{% for tag in mappool['tags'] %}
							{% if (tag.type == 'rank') %}
								<div class="rank-range-tag">{{ tag.name }}</div>
							{% endif %}
						{% endfor %}
						{% for tag in mappool['tags'] %}
							{% if (tag.type == 'range') %}
								<div class="stars-tag">{{ tag.name }}</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="follow-btn"></div>
			</div>
		</div>
		<div class="d-none d-sm-block">
			{% for map in mappool['pool'].maps %}
				{% block card_beatmap %}
					<div class="d-flex global-beatmapset" style="background-image: url('{{ map['cover'] }}')">

						<span class="beatmapset">{{ map['name '] }}</span>


						<span class="beatmapset-creator">
							mappée par
							<a href="#" class="creator-link">{{ map['map'].beatmapset.creator }}
							</a>
						</span>


						<span class="text-uppercase beatmapset-data">
							cs: {{ map['map'].cs}} ar: {{ map['map'].ar}} od: {{ map['map'].accuracy}} hp: {{ map['map'].drain}} stars: 4.98
						</span>

						<a class="dowload-btn bg-transparent border-0" href="#" role="button">
							{{ block("download") }}
						</a>
					</div>

				{% endblock %}
			{% endfor %}
		</div>
		<div class="d-none d-sm-flex check-mappool">
			<a class="d-flex btn check-button" href="{{ path('collection_name') }}"  type="button" > Check all mappool</a>
		</div>
	</div>
{% endblock %}
