<div class="global-modal modal fade" id="modal-pop" tabindex="-1" aria-labelledby="modal-popLabel" aria-hidden="true" data-bs-backdrop="static">

	<div class="modal-dialog">
		<div class="modal-content border-0">
			<button class="d-flex return-arrow bg-transparent border-0 d-sm-none" type="button" data-bs-dismiss="modal">
				<svg width="29" height="29" viewbox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.1663 13.2923H9.46092L16.2155 6.53773L14.4997 4.83398L4.83301 14.5007L14.4997 24.1673L16.2034 22.4636L9.46092 15.709H24.1663V13.2923Z" fill="white"/>
				</svg>
			</button>

			{{ form_start(formulaire, {'attr': {'class': "new-collection", 'autocomplete' : 'off'}}) }}

				<div class="d-flex block-input-title">

					<div class="d-flex new-collection-title flex-column" style="background-image: url('{{asset('/build/constellation.svg')}}')">
						<div class="content-collection-btn d-flex flex-end">
							<button class="d-none d-sm-flex close-btn border-0" type="button" data-bs-dismiss="modal">
								fermer
							</button>
						</div>
						<div class="content-collection d-flex flex-row"  style="width: 100%">
							<span class="collection-title">Collection Title</span>
							{{ form_widget(formulaire.title, {'attr': {'class': "collection-name ms-3", 'placeholder': "New Collection"}}) }}
						</div>
					</div>
				</div>

				<div class="d-flex block-contain">
					<div class="tags block-mod">
						<span class="title title-mod text-new-collection">Game Mod</span>
						{% set mods = ['std', 'taiko','ctb','mania'] %}
						{% for child in formulaire.children %}
							{% if (child.vars.name in mods) %}
								{{ form_widget(child) }}
								{{ form_label(child, child.vars.name, {'label_attr': {'class': 'tag tag-mod'}} ) }}
							{% endif %}
						{% endfor %}

					</div>
					<div class="tags block-category">
						<span class="title title-category text-new-collection">Category</span>
						{% set categories = ['tournament', 'fun','training','challenge', 'pp_farm'] %}
						{% for child in formulaire.children %}
							{% if (child.vars.name in categories) %}
								{{ form_widget(child) }}
								{% if child.vars.name == 'pp_farm' %}
									{% set foo = 'PP farm' %}
								{% else %}
									{% set foo = child.vars.name | capitalize %}
								{% endif %}
								{{ form_label(child, foo  , {'label_attr': {'class': 'tag tag-category'}} ) }}
							{% endif %}
						{% endfor %}
					</div>
					<div class="block-rank">

						{{ form_row(formulaire.rank_min) }}
						{{ form_row(formulaire.rank_max) }}
						<span class="title title-rank text-new-collection">Rank Range</span>
						<div id="slider-rank" class="slider"></div>
					</div>
				</div>

				<div class="block-drop">
					<span class="drop-title d-flex">Background image</span>

					<div class="d-flex drop-container">
						<span class="drop-text">Drop your image or</span>
						{{ form_widget(formulaire.image) }}
						{{ form_label(formulaire.image, 'Upload Image', { 'label_attr': { 'class' : 'btn bg-transparent btn-upload'}}) }}

					</div>
				</div>

				{{ form_widget(formulaire.submit, {'attr':{'class': "btn save-collection-btn"}, 'label': "Save Collection"}) }}


			{{ form_end(formulaire) }}

		</div>
	</div>
</div>
