{% block pined %}
	{% for mappool in col['mappools'] %}
	{% embed "/component/_svg-global.html.twig" %}
		{% block body %}
			<div class="pined">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					{% block pined_card %}
						<div class="card-pined">
							<div class="d-flex card card-pined">
								<img id="flush-heading" src="{{ "/"~col['poolset'].thumbnail }}" class="card-img-pined-top" alt="...">
								<div class="card-img-overlay">
									<div class="d-flex text-pined">
										<ul>
											<li class="title-pined">{{ mappool.name }}</li>
											<li>From collection
												<a class="link-pined" href="/">{{ col['poolset'].name }}</a>
											</li>
											<li>submitted by
												<a class="link-pined">{{ col['contributors'][0].user.name }}</a>
											</li>
											<li>{{ mappool.maps|length}} maps</li>
										</ul>
										<div class="d-flex svg">
											<a class="d-flex pined-svg" href="#">{{ block("svg_pined") }}</a>
											<a class="d-flex pined-svg" href="#">{{ block("unfollow") }}</a>
										</div>
									</div>
									<div class="d-flex pined-info">
										<button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse"></button>

										{% for tag in col['tags'] %}
											{% if (tag.type == 'gamemod') %}
												<a class="pined-tag">{{ tag.name }}</a>
											{% endif %}
										{% endfor %}

										{% for tag in col['tags'] %}
											{% if (tag.type == 'category') %}
												{% if tag.name == 'pp_farm' %}
													{% set foo = 'PP farm' %}
												{% else %}
													{% set foo = tag.name | capitalize %}
												{% endif %}
												<a class="pined-tag">{{ foo }}</a>
											{% endif %}
										{% endfor %}
										{% for tag in col['tags'] %}
											{% if (tag.type == 'rank') %}
												<a class="pined-tag">{{ tag.name }}</a>
											{% endif %}
										{% endfor %}
										{% for tag in col['tags'] %}
											{% if (tag.type == 'range') %}
												<a class="pined-tag">{{ tag.name }}</a>
											{% endif %}
										{% endfor %}
									</div>

								</div>
							</div>
							{% block pined_card_mappools %}
								<div id="flush-collapse" class="pb-2 accordion-collapse collapse hide" aria-labelledby="flush-heading" data-bs-parent="#accordionFlushExample">
									{% for map in mappool.maps %}
										<div class="d-flex card card-pined-mappools border-dark">
											<img src="{{ map.cover }}" class="card-img-pined border-dark" alt="...">
											<div class="card-img-overlay border-dark">
												<div class="d-flex text-pined">
													<div class="d-flex text-pined-mappools">
														<ul>
															<div class="d-flex card-pined-mappools-lg">
																<li class="title-pined-mappools">{{ map['name ']  }}
																</li>
																<div class="d-none d-lg-block card time-card-pined">
																	<div class="mt-n1 text-pined-lg">
																		<p><img class="img-pined" src="{{ asset('build/note.png') }}">
																			{{ map.map.bpm }}
																			<img class="img-pined" src="{{ asset('build/hourglass.png') }}">
																			{{ map['map'].hitlength|date('i:s', '+00:00 GMT') }}</p>
																	</div>
																</div>
																<img class="img-hd" src="{{ asset('build/img-hd.png') }}" alt="...">
															</div>
															<li>mappée par
																<a class="link-pined-mappools">{{ map.map.beatmapset.creator }}</a>
															</li>
															<li class="tag-pined-mappools">CS: {{ map.map.cs}}  AR: {{ map.map.ar}} OD: {{ map.map.accuracy}} HP: {{ map.map.drain}}
															</li>
														</ul>
													</div>
												</div>
												
											</div>
										</div>
									{% endfor %}
								</div>
							{% endblock %}
						</div>
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	{% endembed %}
	{% endfor %}
{% endblock %}
