{% extends 'svg/_svg_global.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="user-body">
        <img class="rounded-pill thumbnail" src="https://via.placeholder.com/80x80 " alt="">
        <div class="user-name">
            <p>Farrell-Shey974</p>
            <img src="" class="flag ms-2" alt="">
            <a href="" class="btn score-btn d-flex justify-content-around">
                {{ block('upload') }}
                <p class="fw-bold">Update <br> Score</p>
            </a>
        </div>

        <div class="d-flex justify-content-around fw-bold user-stats">
            <div class="d-flex flex-column justify-content-around text-center ">
                <div class="stat">
                    <p>Completed mappools</p>
                    <p>548</p>
                </div>
                <div class="stat">
                    <p>Submited Mappools</p>
                    <p>3</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-around text-center">
                <div class="stat">
                    <p>Followed mappool</p>
                    <p>465</p>
                </div>
                <div class="stat">
                    <p>Classement générale</p>
                    <p>#456,125</p>
                </div>
            </div>
        </div>
        <div class="user-scores d-flex justify-content-around text-center">
            <div>
                {{ block('score_ss_silver') }}
                <p>3</p>
            </div>
            <div>
                {{ block('score_ss') }}
                <p>14</p>
            </div>
            <div>
                {{ block('score_s_silver') }}
                <p>5</p>
            </div>
            <div>
                {{ block('score_s') }}
                <p>119</p>
            </div>
            <div>
                {{ block('score_a') }}
                <p>789</p>
            </div>
        </div>
    </div>
{% endblock %}
