{% extends 'svg/_svg_global.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="user-body">
        <img class="rounded-pill thumbnail" src="https://via.placeholder.com/80x80 " alt="">
        <p class="user-name">Farrell-Shey974</p>
        <img src="https://via.placeholder.com/30x21" alt="">
        <a href="" class="btn score-btn"></a>
        <div class="user-stats">
            <div>
                <div>
                    <p>Completed mappools</p>
                    <p>548</p>
                </div>
                <div>
                    <p>Submited Mappools</p>
                    <p>3</p>
                </div>
            </div>
            <div>
                <div>
                    <p>Followed mappool</p>
                    <p>465</p>
                </div>
                <div>
                    <p>Classement générale</p>
                    <p>#456,125</p>
                </div>
            </div>
        </div>
        <div class="user-scores d-flex justify-content-around">

            <div>
                {{ block('score_ss_silver') }}
                <p></p>
            </div>
            <div>
                {{ block('score_ss') }}
                <p></p>
            </div>
            <div>
                {{ block('score_s_silver') }}
                <p></p>
            </div>
            <div>
                {{ block('score_s') }}
                <p></p>
            </div>
            <div>
                {{ block('score_a') }}
                <p></p>
            </div>
        </div>
    </div>







{% endblock %}
